<div id="bg"> 
<mat-grid-list cols="4" rowHeight="310px">
    <!-- <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color:lightpink">
        <div>
            <h1 align="center">Login </h1>
            <h4 align="center">Get access to your Wishlist and Recommendation</h4>
        </div>
    </mat-grid-tile> -->

    <mat-grid-tile [colspan]=3 [rowspan]=2 style.background="lightblue">
        <mat-card class="my-card offset-4">
            <h1 align="center">Login </h1>
            <mat-card-content id="card1">
                <form class="my-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput placeholder="Email" name="contactEmail" required formControlName="contactEmail">
                        

                    </mat-form-field>
                    <div id="ContactEmailError">
                            <mat-error *ngIf="loginForm.controls.contactEmail.errors?.required && loginForm.controls.contactEmail?.touched">Field Required</mat-error>
                            <mat-error *ngIf="loginForm.controls.contactEmail.errors?.pattern && loginForm.controls.contactEmail?.touched">Enter Valid Email ID</mat-error>
                    </div>
                    
                    
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password"  required name="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        
                      </mat-form-field>
                      <div id="passwordError">
                            <mat-error *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password?.touched">Field Required</mat-error>
                           </div>

                </form>
            </mat-card-content>
            
                <button mat-raised-button [disabled]="loginForm.invalid" (click)="login()" #selectIn (keydown)="down($event,selectIn.value)" color="primary" class="btn btn-block">LOGIN</button>
                <br />
                <br />
                
                <button mat-raised-button color="accent"(click)="getRegisterPage()" color="accent" class="text-center btn btn-block">Click here to register</button>

           
            <div *ngIf="errorMessage!=null" class="text-danger">
                {{errorMessage}}
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>