
<div id="bg-style">
<br/>
<br/>
<br/>
<br/>
<br/>
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="example-container">
                <mat-form-field>
                    <mat-select #selectInp (keydown)="down($event,selectInp.value)" placeholder="Search in">
                        <mat-option *ngFor='let l of successData' value="option">{{l.area}}</mat-option>
                    </mat-select>
                    <button mat-button matSuffix mat-icon-button (click)="buy()"><mat-icon matSuffix>search</mat-icon></button>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>