#bg-style{
    background-image: url('../../assets/house13.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
}

.example-container{
    display: flex;
    flex-direction: column;
}