<div class="container-fluid">
    <div class="row" *ngIf="propertyDb">


        <div *ngFor="let p of propertyDb" class="col-md-3">
            <!-- <div > -->
                <div *ngIf="wishlist.includes(p.propertyId)">


                    <mat-card class="card">

                        <mat-card-title style="display:flex">
                            <div style="flex:1" class="currFont">&nbsp;{{p.price | currency:"INR" : 'symbol'}}</div>
                            <div style="flex:2"></div>
                            <div style="flex:1" class="container">
                                <!-- <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" (click)="wishChange(p.propertyId)" class="heart" *ngIf="userName && wishlist.indexOf(p.propertyId)==-1" >
                        <mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon>
                    </button>

                    <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" (click)="wishChange(p.propertyId)" class="heart" *ngIf="userName && wishlist.indexOf(p.propertyId)!=-1">
                            <mat-icon matSuffix [id]="p.propertyId" color="accent">favorite_border</mat-icon>
                    </button>
                    <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" class="heart" *ngIf="!userName"(click)="popup('Please login to proceed')">
                        <mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon>
                    </button> -->

                                <button align="align-left" mat-icon-button matTooltip='Remove from Wishlist' aria-label="example icon-button with a heart icon" color="accent" class="heart"
                                    (click)="wishChange(p.propertyId)">
                                    <mat-icon matSuffix [id]="p.propertyId">
                                        <span *ngIf="wishlist.indexOf(p.propertyId)==-1;else liked">favorite_border</span>
                                        <ng-template #liked>
                                            <span color="accent">favorite</span>
                                        </ng-template>
                                    </mat-icon>
                                </button>
                                <!-- <ng-template #vi>
                                <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" class="heart" (click)="popup('Please login to proceed')"><mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon></button>
                            </ng-template> -->
                                <!-- *ngIf="userName;else vi"  -->
                                <!-- <button mat-icon-button aria-label="example icon-button with a heart icon" class="heart" (click)="wishChange(p.propertyId)">
                        <mat-icon matSuffix [id]="p.propertyId" color="accent">
                            <span *ngIf="wishlist.indexOf(p.propertyId)==-1;else liked">favorite_border</span>
                            <ng-template #liked>
                                <span>favorite</span>
                            </ng-template>
                        </mat-icon>
                    </button>
                    -->
                            </div>
                        </mat-card-title>

                        <mat-card-content>
                            <span style="color:brown" class="mat-subheading-2">For {{p.propertyType}}</span>
                        </mat-card-content>

                        <br>
                        <mat-card-content>
                            <div class="d">
                                <img class="container-fluid cardimg" *ngIf="p" mat-card-image src="{{p.imageUrls}}" alt="A house">
                                <br>
                            </div>
                            <span align="start">{{p.propertyArea}} sq. ft</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;
                            <span align="end">{{p.noOfBedrooms}} BHK {{p.buildingType}}</span>
                            <br>
                            <span align="align-left">{{p.furnishing}} </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span align="align-right">{{p.availability}}</span>
                        </mat-card-content>

                        <mat-card-actions class="card-button-container">

                            <button mat-raised-button matTooltip='Contact Owner' style="display:block; text-align:center; margin:auto;" *ngIf="userName;else iew" (click)="contactOwner(p.sellerId)">Contact Owner</button>
                            <ng-template #iew>
                                <button mat-raised-button matTooltip='Contact Owner' color="warn" (click)="popup('Please login to proceed')">Contact Owner</button>
                            </ng-template>
                            <br>

                            <!-- <button mat-raised-button style="display:block; text-align:center; margin:auto;" (click)="contactOwner(p.sellerId)">Contact Owner</button> -->


                            <button mat-raised-button matTooltip='View Details' style="display:block; text-align:center; margin:auto;" color="primary" *ngIf="userName;else view"
                                (click)="reroute(p)">View Details</button>
                            <ng-template #view>
                                <button mat-raised-button matTooltip='View Details' class="c-button" mat-raised-button color="primary" (click)="popup('Please login to proceed')">View Details</button>
                            </ng-template>


                        </mat-card-actions>

                    </mat-card>
                </div>
            </div>
        </div>
        <div *ngIf="!propertyDb" class="loading">
            <mat-spinner></mat-spinner>
        </div>
    </div><br><br><br><br>
<!-- </div> -->