mat-sidenav-container {
    height:100%;
    background-color:white;
 }
 mat-sidenav, mat-sidenav-content{
     padding:16px;
 }
 mat-sidenav{
     background-color:white;
     width:200px;
 }
 .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
   }
  
   .example-full-width {
     width: 100%;
   }
   .example-container {
       position:absolute;
       /* top:0;
       bottom:0;
       left:10px;
       right:0; */
       background: #eee;
    
   }
   .button-side{
       transform:scale(2)
   }
   .cardButton{
       text-align:center;
   }
   .flx1{
       flex:1;
       text-align:center;
   }
   .flx2{
     flex:5;
     text-align:center;
 }
 
 