<br><br><br><br>
<br><br><br><br>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <form class="example-form">
            <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" >
            </mat-form-field> -->

            <mat-form-field class="example-full-width">
                    <mat-form-field>
                        <MAT-LABEL>Enter the area</MAT-LABEL>
                            <input matInput placeholder="Input">
                    </mat-form-field>
            </mat-form-field>
        </form>
                  
        



    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>