<br>
<br>
<br>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-form-field color="primary" class="example-full-width">
            <mat-label>Enter Area</mat-label>
            <input matInput autofocus type="text" matInput>
            <br>

            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <br>

        <!-- <mat-form-field color="primary" class="example-full-width">  -->
        <label>Property for :</label>
        <br>
        <mat-radio-group>
            <mat-radio-button value="buy">Buy</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="rent">Rent</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="both">Both</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br>
        <br>



        <!-- <mat-form-field color="primary" class="example-full-width"> -->
        <label>Property type :</label>
        <br>
        <mat-radio-group aria-label="Property for:">
            <mat-radio-button value="house">House</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="apartments">Apartments</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="both">Both</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br>
        <br>


        <mat-form-field color="primary" class="example-full-width">
            <input matInput type="number" matInput placeholder="Bedrooms">
            <br>
            <mat-icon class="button-side" matSuffix>king_bed</mat-icon>
        </mat-form-field>
        <br>
        <br>


        <mat-form-field color="primary" class="example-full-width">
            <input matInput type="number" matInput placeholder="Bathrooms">
            <br>
            <mat-icon class="button-side" matSuffix>bathtub</mat-icon>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field color="primary" class="example-full-width">
            <input matInput type="number" matInput placeholder="Min Amount :">
            <br>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field color="primary" class="example-full-width">
            <input matInput type="number" matInput placeholder="Max Amount :">
            <br>
        </mat-form-field>
        <br>
        <br>
        <button mat-button matSuffix mat-icon-button>Clear Field

        </button>




    </mat-sidenav>