<br>
<div class="row" style="border:solid">
    <div class="col-md-4" style="border:solid">
        <img src="{{prop.imageUrls}}" class="img-fluid" height="100%">
    </div>
    <div class="col-md-8" style="border:solid">
        <div class="row mat-title" style="border:solid">Description</div>
        <div class="row" style="border:solid">111{{prop.description}}</div>
        <div class="row" style="border:solid">
            <div class="col-md-4" style="border:solid">
                <div class="row">AREA :{{prop.area}} sq Ft</div>
                <div class="row">Transaction Type : {{prop.transactionType}}</div>
                <div class="row">BEDROOMS :<mat-icon class="button-side" matSuffix>king_bed</mat-icon></div>
                <!-- <span *ngIf="prop.noOfBedrooms>4; else bedicons">{{prop.noOfBedrooms}}</span>
                    <ng-template #bedicons><span *ngFor="let i of Arr(prop.noOfBedrooms).fill(1)">
                    <sub><mat-icon class="icons">king_bed</mat-icon></sub>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></ng-template> -->
            </div>
            <div class="col-md-4" style="border:solid">
                <div class="row">PRICE :{{prop.price}}</div>
                <div class="row">AGE : {{prop.ageOfProperty}}</div>
                    <!-- <mat-icon class="button-side" matSuffix>bathtub</mat-icon> -->
                    <div class="row">BATHROOMS : <mat-icon color="red" class="button-side" matSuffix>bathtub</mat-icon></div>
                <!-- <span *ngIf="prop.noOfBedrooms>4; else bedicons">{{prop.noOfBedrooms}}</span>
                    <ng-template #bedicons><span *ngFor="let i of Arr(prop.noOfBedrooms).fill(1)">
                    <sub><mat-icon class="icons">king_bed</mat-icon></sub>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></ng-template> -->
            </div>
            <div class="col-md-4" style="border:solid">
                <div class="row">SECURITY DEPOSIT : {{prop.Advance}}</div>
                <div class="row">AVAILABILITY :{{prop.availability}}</div>
                <div class="row">BALCONIES : <mat-icon color="red" class="button-side" matSuffix>store_front</mat-icon></div>
                <!-- <span *ngIf="viewDet.noOfBedrooms>4; else bedicons">{{viewDet.noOfBedrooms}}</span>
                    <ng-template #bedicons><span *ngFor="let i of Arr(viewDet.noOfBedrooms).fill(1)">
                    <sub><mat-icon class="icons">king_bed</mat-icon></sub>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></ng-template> -->
            </div>
        </div>
        <div class="row" style="border:solid">
            <button class="btn btn-block">Contact Owner</button>
        </div>

    </div>

</div>
<div class="row" style="border:solid">
    <div class="col-md-4" style="border:solid">
        <mat-card>
            <mat-card-title>Features</mat-card-title>
            <mat-card-content>
                <button mat-raised-button style="border-radius:30px" class="btn" color="accent">Property Type {{prop.propertyType}}</button>
                <br> <br>
                <button mat-raised-button style="border-radius:30px" class="mat-warn" >Ownwership {{prop.propertyOwnership}}</button>
                <br> <br>
                <button mat-raised-button style="border-radius:30px" class="btn" color="yellow">Building Type {{prop.buildingType}}</button>
                <br> <br>
                <button mat-raised-button style="border-radius:30px" class="btn" color="accent">Furnishing {{prop.furnishing}}</button>
                <br> <br>
                <button mat-raised-button style="border-radius:30px" class="btn" color="primary">availability {{prop.availability}}</button>
                <br> <br>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4" style="border:solid">
        <mat-card>
            <mat-card-title>Highlights</mat-card-title>
            <br><br>
            <mat-card-content>
                <div class="row">
                      
                    <div class="col-md-3 offset-2" style="transform:scale(2)"><mat-icon>view_headline</mat-icon></div><br><br>
                    <div class="col-md-3 offset-2" style="transform:scale(2)"><mat-icon>home_work</mat-icon></div><br><br>
                    <div class="col-md-3 offset-2" style="transform:scale(2)"><mat-icon>directions_bus</mat-icon></div><br><br>
                    <div class="col-md-3 offset-2" style="transform:scale(2)"><mat-icon>departure_board</mat-icon></div><br><br>
                    <div class="col-md-3 offset-2" style="transform:scale(2)"><mat-icon>business</mat-icon></div><br><br>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4" style="border:solid">
        <mat-card>
            <mat-card-title>Amenities</mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <mat-icon>favorite_border</mat-icon>
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
<br>