<br>
<div class="container-fluid">
    <h3 class="text-center">Welcome Admin</h3>
    <mat-tab-group>
            <mat-tab label="Registered Users"> 
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <br>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let r of successMessage'>
                                    <td>{{r.userId}}</td>
                                    <td>{{r.name}}</td>
                                    <td>{{r.contactNo}}</td>
                                    <td>
                                        <button type="button" (click)='deleteReg(r.userId)' class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Buyers">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <br>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sellers">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <br>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Properties"> 
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <br>
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Property Id</th>
                                        <th>Seller Id</th>
                                        <th>Buyer Id</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>






          </mat-tab-group>
          
    







</div>
