<br>
<br>
<br>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="scrollable">

        <mat-form-field color="primary" class="example-full-width" appearance="legacy">
            <mat-label>Enter Area</mat-label>
            <input autofocus [(ngModel)]="areaFilter" (change)="filter()" type="text" matInput>
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <br>       
        <br>

        <mat-label>Property for :</mat-label>
        <br>
        <mat-radio-group>
            <mat-radio-button value="buy" (click)="buyFilter(b.value)" #b color="accent">Buy</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="rent" (click)="buyFilter(r.value)" #r color="accent">Rent</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="both" (click)="buyFilter(bo1.value)" #bo1 color="accent">Both</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br>
        <br>

        <mat-label>Property type :</mat-label>
        <br>
        <mat-radio-group aria-label="Property for:">
            <mat-radio-button value="house" (click)="buyFilter(h.value)" #h color="accent">House</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="apartments" (click)="buyFilter(a.value)" #a color="accent">Apartments</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="both" (click)="buyFilter(bo2.value)" #bo2 color="accent">Both</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br>

        <mat-form-field color="primary" class="example-full-width">
            <label class="form-check-label">Bedrooms:&nbsp;
                <input matInput type="number" class="form-check-input">
                <mat-icon class="button-side" matSuffix>king_bed</mat-icon>
            </label>
        </mat-form-field>

        <mat-form-field color="primary" class="example-full-width">
                <label class="form-check-label">Bathrooms:&nbsp;
                    <input matInput type="number" class="form-check-input">
                    <mat-icon class="button-side" matSuffix>bathtub</mat-icon>
                </label>
            </mat-form-field>
        <br>
        <br>

        
        
        <br>
        <br>

        <mat-form-field color="primary" class="example-full-width">
            <label class="form-check-label">Min Amount :&nbsp;
                <input matInput type="number">
            </label>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field color="primary" class="example-full-width">
            <label class="form-check-label">Max Amount :&nbsp;
                <input matInput type="number">
            </label>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button matSuffix layout-align="center" (click)="clear()">Clear Field</button>
        <br>
        <br>
        <br>
    </mat-sidenav>
    <!-- (click)="change(p) -->

    <mat-sidenav-content class="container-fluid">
        <div class="row">
            <mat-card *ngFor="let p of propertyDb" class="col-md-3 card">
               
                    <mat-card-title>
                        &nbsp;{{p.price | currency:"INR" : 'symbol'}}<br>&nbsp;
                        <button mat-icon-button aria-label="example icon-button with a heart icon" class="heart">
                            <span><mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon></span>
                        </button><br>
                        <span style="color:darkgrey">For {{p.propertyType}}</span>
                    </mat-card-title>
                    <br>
                    <mat-card-content>
                        <img class="container-fluid" mat-card-image src="{{p.imageUrls}}" alt="A house"><br>
                        <span align="start">{{p.propertyArea}} sq. ft</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span align="end">{{p.noOfBedrooms}} BHK {{p.buildingType}}</span><br>
                        <span align="align-left">{{p.furnishing}} </span>&nbsp;&nbsp;&nbsp;
                        <span align="align-right">{{p.availibility}}</span>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-raised-button style="display:block; text-align:center; margin:auto;" (click)="contactOwner(p)">Contact Owner</button><br>
                        <button mat-raised-button style="display:block; text-align:center; margin:auto;" (click)="viewDetails(p)" color="primary">viewDetails</button>
                    </mat-card-actions>

            </mat-card>
        </div>
    </mat-sidenav-content>

    <!-- <mat-sidenav-content>
            <mat-grid-list cols="3" rowHeight="1:1.55" gutterSize="36px">
              <div *ngFor="let property of propertyDb">
              <mat-grid-tile  [class.mat-elevation-z4]="!isActive">
                <mat-card class="my-card">
                  <mat-card-header class="card-flex row">
                    <div class="row-1">
                      <mat-card-title>
                        {{property.price|currency:"INR"}}&nbsp;&nbsp;
                        <button mat-icon-button aria-label="Example icon-button with a heart icon" class="heart" (click)="change(property)">
                          <mat-icon matSuffix [id]="property.propertyId" >favorite_border</mat-icon>
                        </button>
                      </mat-card-title>
                    </div>
                  </mat-card-header>
        
                  <mat-card-header>
                    <mat-card-subtitle>For: {{property.propertyType}}</mat-card-subtitle>
                  </mat-card-header>
        
                  <div class="card-img-div">
                    <img src="../../../assets/house.jpg" class="card-img" mat-card-image alt="House photo">
                  </div>
        
                  <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="5:1" gutterSize="2px">
                      <mat-grid-tile>{{property.propertyArea}} sq. Ft</mat-grid-tile>
                      <mat-grid-tile>{{property.noOfBedrooms}} BHK House </mat-grid-tile>
                      <mat-grid-tile>{{property.furnishing}}</mat-grid-tile>
                      <mat-grid-tile>{{property.availability}} </mat-grid-tile>
                    </mat-grid-list>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="card-btn-container">
                    <button class="c-button" mat-stroked-button color="primary">Contact Owner</button>
                    </div>
                    <br>
                    <div class="card-btn-container">
                    <button class="c-button" mat-raised-button color="primary">View Deatils</button>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </div>
            </mat-grid-list>
          </mat-sidenav-content> -->

</mat-sidenav-container>


