.example-card {
    max-width: 400px;
    background-color: cornflowerblue;
    border-radius: 5px
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .cardStyle{
    max-width: 300px;

  }
  .cardp {
    border: 5px;
    box-sizing: border-box; 
  }
  .border-table{
    border: 5px;
  }
  .card-img{
    border-radius: 10px 10px 10px 10px;
    border-color: darkcyan
  }