<br><br>
<mat-tab-group>
    <mat-tab label="Personal Details"> 


        <mat-grid-list cols="3" rowHeight="1:1.5" offset="4">
            <mat-card class="example-card">
                    <mat-card-header>
                        <mat-icon>person_pin</mat-icon>
                      
                      <mat-card-title></mat-card-title>
                      
                    </mat-card-header>
                   
                    <mat-card-content>
                    <table class="table">
                        <tr>
                            <td>Name :</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Email Id :</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Contact No:</td>
                            <td></td>
                        </tr>
                    </table>
                    </mat-card-content>
                    
                  </mat-card>
                </mat-grid-list>


        
       
        
    
    
    
    
    
    
    
    
    
    </mat-tab>
    <mat-tab label="Posted Properties">
        
    
    
    
    
    
    
    </mat-tab>
    <mat-tab label=""> </mat-tab>
  </mat-tab-group>
  
