<br>
<br>
<mat-tab-group>
    <mat-tab label="Personal Details">


        <mat-grid-list cols="3" rowHeight="150px">
            <mat-grid-tile [colspan]=3 [rowspan]=2 style.background="lightblue">

                <mat-card class="example-card">

                    <table class="table table-bordered table-striped border-table"  style="background-color:paleturquoise">
                        <tr >
                               
                            <td class="mat-subheading-2">Name :</td>
                            <td class="mat-subheading-2">{{details.name}}</td>
                        </tr>
                        <tr>
                                
                            <td class="mat-subheading-2">Email Id :</td>
                            <td class="mat-subheading-2">{{details.emailId}}</td>
                        </tr>
                        <tr>
                               
                            <td class="mat-subheading-2">Contact No:</td>
                            <td class="mat-subheading-2">{{details.contactNo}}</td>
                        </tr>
                    </table>


                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-tab>






     <mat-tab label="Posted Properties">
      

        <div class="container-fluid">
            <div class="row">

                <mat-card *ngFor= "let e of property" class="col-md-3 card">
                    <mat-card-title style="display:flex">
                        <div style="flex:1" class="currFont">&nbsp;{{e.price | currency:"INR" : 'symbol'}}</div>
                        <!-- <div style="flex:2"></div> -->
                        <!-- <div style="flex:1" class="container"> -->
                            <!-- <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" (click)="wishChange(p.propertyId)" class="heart" *ngIf="userName && wishlist.indexOf(p.propertyId)==-1" >
                                <mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon>
                            </button>

                            <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" (click)="wishChange(p.propertyId)" class="heart" *ngIf="userName && wishlist.indexOf(p.propertyId)!=-1">
                                    <mat-icon matSuffix [id]="p.propertyId" color="accent">favorite_border</mat-icon>
                            </button>
                            <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" class="heart" *ngIf="!userName"(click)="popup('Please login to proceed')">
                                <mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon>
                            </button> -->
<!--                                         
                             <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" color="accent" class="heart" (click)="wishChange(p.propertyId)">
                                <mat-icon matSuffix [id]="p.propertyId">
                                    <span *ngIf="wishlist.indexOf(p.propertyId)==-1;else liked">favorite_border</span>
                                <ng-template #liked>
                                    <span  color="accent">favorite</span>
                                </ng-template>
                                </mat-icon>  
                            </button> -->
                             <!-- <ng-template #vi>
                                        <button align="align-left" mat-icon-button aria-label="example icon-button with a heart icon" class="heart" (click)="popup('Please login to proceed')"><mat-icon matSuffix [id]="p.propertyId">favorite_border</mat-icon></button>
                                    </ng-template> -->
                             <!-- *ngIf="userName;else vi"  -->
                            <!-- <button mat-icon-button aria-label="example icon-button with a heart icon" class="heart" (click)="wishChange(p.propertyId)">
                                <mat-icon matSuffix [id]="p.propertyId" color="accent">
                                    <span *ngIf="wishlist.indexOf(p.propertyId)==-1;else liked">favorite_border</span>
                                    <ng-template #liked>
                                        <span>favorite</span>
                                    </ng-template>
                                </mat-icon>
                            </button>
                            -->
                        <!-- </div> -->
                    </mat-card-title>

                    <mat-card-content>
                        <span style="color:brown" class="mat-subheading-2">For {{e.propertyType}}</span>
                    </mat-card-content>

                    <br>
                    <mat-card-content>
                        <div class="d">
                            <img class="container-fluid cardimg" *ngIf="e" mat-card-image src="{{e.imageUrls}}" alt="A house">
                            <br>
                        </div>
                        <span align="start">{{e.propertyArea}} sq. ft</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;
                        <span align="end">{{e.noOfBedrooms}} BHK {{e.buildingType}}</span>
                        <br>
                        <span align="align-left">{{e.furnishing}} </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span align="align-right">{{e.availability}}</span>
                    </mat-card-content>

                    <mat-card-actions class="card-button-container">
<!-- 
                        <button mat-raised-button style="display:block; text-align:center; margin:auto;" *ngIf="userName;else iew" (click)="contactOwner(p.sellerId)">Contact Owner</button>
                        <ng-template #iew>
                            <button mat-raised-button color="warn" (click)="popup('Please login to proceed')">Contact Owner</button>
                        </ng-template>
                        <br> -->

                        <!-- <button mat-raised-button style="display:block; text-align:center; margin:auto;" (click)="contactOwner(p.sellerId)">Contact Owner</button> -->

                        
                        <button mat-raised-button matTooltip='View Details' style="display:block; text-align:center; margin:auto;" color="primary"
                            (click)="reroute(e)">View Details</button>
                            <br>
                            <br>
                    
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </mat-tab> 


</mat-tab-group>
<br>