<div class="container-fluid">
    <mat-sidenav-container class="example-container">
        <mat-sidenav opened mode="side">Start content</mat-sidenav>
        <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
        <mat-sidenav-content>

            <br/>
            <h2 class="text-center">Post your Property Here!</h2>

            <form [formGroup]="sellForm" (submit)="sell()">
                <mat-tab-group>
                    <mat-tab label="First Step">
                        <div class="example-container">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Please mention area</mat-label>
                                        <mat-select formControlName="area">
                                            <mat-option *ngFor="let i of area" [value]="i">{{i}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Property Pincode</mat-label>
                                        <mat-select formControlName="pincode">
                                            <mat-option *ngFor="let i of pincode" [value]="i">{{i}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <!-- ############################################################################### -->

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>You are...</mat-label>
                                        <mat-select formControlName="propertyOwnership">
                                            <mat-option *ngFor="let i of propertyOwnership" [value]="i">{{i}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-radio-group aria-label="">
                                        <br/>
                                        <mat-radio-button value="Sale">Sale</mat-radio-button>
                                        <mat-radio-button value="Rent">Rent</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <!-- ############################################################################### -->

                            <div class="row">
                                <div class="col-md-5">
                                    <mat-radio-group aria-label="" formControlName="propertyType">
                                        <br/>
                                        <mat-radio-button value="Sale">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                                            House</mat-radio-button>
                                        <mat-radio-button value="Rent">
                                            <mat-icon matSuffix>domain</mat-icon>Appartment</mat-radio-button>
                                    </mat-radio-group>

                                </div>
                            </div>
                            <!-- ############################################################################### -->

                            <div class="row">
                                <div class="col-md-4">


                                    <mat-form-field class="example-full-width">
                                        <input type="number" matInput placeholder="No. of Bedrooms" formControlName="noOfBedrooms">
                                        <mat-icon matSuffix>hotel</mat-icon>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4">

                                    <mat-form-field class="example-full-width" >
                                        <input type="number" matInput placeholder="No. of Bathrooms" formControlName="noOfBathrooms">
                                        <mat-icon matSuffix>bathtub</mat-icon>
                                    </mat-form-field>



                                </div>

                                <div class="col-md-4">

                                    <mat-form-field class="example-full-width">
                                        <input type="number" matInput placeholder="No. of Balconies" formControlName="noOfBalconies">
                                        <mat-icon matSuffix>home</mat-icon>
                                    </mat-form-field>


                                </div>



                            </div>
                            <!-- ############################################################################### -->

                            <div class="row">
                                <div class="col-md-5">
                                    <br/> Price:
                                    <mat-slider formControlName="price"></mat-slider>
                                </div>
                            </div>
                            <!-- ############################################################################### -->

                            <div class="row">
                                <div class="col-md-1">
                                    <button mat-raised-button color="primary">Post</button>
                                </div>

                                <div class="col-md-6 offset-1">If you want to add more details, go to step 2</div>

                                <div class="col-md-1">
                                    <button mat-raised-button color="accent">Primary</button>
                                </div>

                            </div>


                        </div>
                    </mat-tab>



                    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                    <mat-tab label="Second Step">

                        <div class="row">
                            <div class="col-md-8">
                                <br/>
                                <span matPrefix>Property Status:</span>
                                <mat-radio-group formControlName="transactionType">
                                    <mat-radio-button value="New">New</mat-radio-button>
                                    <mat-radio-button value="Old">Old</mat-radio-button>
                                </mat-radio-group>

                            </div>
                        </div>
                        <!-- ############################################################################### -->
                        <div class="row">
                            <div class="col-md-12">
                                <br/> Age of Property:
                                <mat-slider id="ageSlider" formControlName="ageOfProperty"></mat-slider> Years
                            </div>
                        </div>
                        <!-- ############################################################################### -->
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Select the availability</mat-label>
                                    <mat-select formControlName="availabilityBy">
                                        <mat-option *ngFor="let i of availabilityBy" [value]="i">{{i}}</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- ############################################################################### -->
                        <div class="row">
                            <div class="col-md-8">

                                <mat-radio-group formControlName="furnishing">
                                    <mat-radio-button value="Fully Furnished">Fully Furnished</mat-radio-button>
                                    <mat-radio-button value="Semi Furnished">Semi Furnished</mat-radio-button>
                                    <mat-radio-button value="Unfurnished">Unfurnished</mat-radio-button>
                                </mat-radio-group>

                            </div>
                        </div>
                        <!-- ############################################################################### -->

                        <div class="row">
                            <div class="col-md-8">

                                <mat-radio-group formControlName="furnishing">
                                    <mat-radio-button value="Ready to Move">Ready to Move</mat-radio-button>
                                    <mat-radio-button value="Under Construction">Under Construction</mat-radio-button>

                                </mat-radio-group>

                            </div>
                        </div>
                        <!-- ############################################################################### -->
                        <div class="row">
                            <div class="col-md-2">
                                <mat-slide-toggle id="slideToggler" class="example-margin" formControlName="visitorParking">Parking</mat-slide-toggle>


                            </div>
                        </div>
                        <!-- ############################################################################### -->

                        <div class="row">
                            <div class="col-md-12">
                                <br/> Area:
                                <mat-slider id="ageSlider" formControlName="propertyArea"></mat-slider> Sq.feets
                            </div>
                        </div>
                        <!-- ############################################################################### -->
                        <div class="row">
                            <div class="col-md-2">
                                <mat-slide-toggle id="slideToggler" class="example-margin" formControlName="lifts">Lifts</mat-slide-toggle>
                            </div>
                            <div class="col-md-2">
                                <mat-slide-toggle id="slideToggler" class="example-margin" formControlName="ac">AC</mat-slide-toggle>
                            </div>
                            <div class="col-md-3">
                                <mat-slide-toggle id="slideToggler" class="example-margin" formControlName="heater">Water Heater</mat-slide-toggle>
                            </div>


                        </div>
                        <!-- ############################################################################### -->

                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field>
                                    <textarea matInput placeholder="Enter Property's Full Address" formControlName="Address"></textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- ############################################################################### -->

                    </mat-tab>

                </mat-tab-group>
            </form>
        </mat-sidenav-content>

    </mat-sidenav-container>


</div>